<!DOCTYPE html>
<html>
    <head>
        <title>agate </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/favicon.png">

        <style>
            body{
                background:#e5e5e5
            }
            p{
                text-indent: 2em;
            }
        </style>
        <script src="js/avalon.js"></script>
        <script src="js/shCore.js"></script>

    </head>
    <body>

        <div><%- body %></div>
    </body>
</html>
